/* giohang.css */

.table-container {
	display: flex;
	justify-content: center; /* Căn giữa theo chiều ngang */
	}

.table {
	width: 50%;
	border-collapse: collapse;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

.th, .td {
	border: 1px solid #ddd;
	padding: 15px;      /* Tăng padding cho dễ đọc */
	text-align: left;
	}

.th {
	background-color: #4CAF50;
	color: white;
	font-weight: bold; /* Làm chữ đậm cho phần header */
	}

.tbody .tr:nth-child(even) {
	background-color: #f2f2f2;
	}

.button {
	background-color: #f44336;
	color: white;
	padding: 10px 15px;  /* Tăng kích thước nút */
	border: none;
	border-radius: 5px;   /* Bo góc nút */
	cursor: pointer;
	transition: background-color 0.3s; /* Thêm hiệu ứng chuyển tiếp mượt mà */
	display: block; /* Cho phép margin auto hoạt động */
	margin: 0 auto; /* Căn giữa theo chiều ngang */
	}

.button:hover {
	background-color: #d32f2f;
	}
