.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

:root {
  --main-color: rgb(220, 99, 58);
  }

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--main-color);
  }

header img {
  max-width: 50px;
  margin: 0.5rem;
  }

footer {
  height: 2rem;
  }

ul {
  display: inline-flex;
  list-style: none;
  }

li {
  margin: 0 1rem;
  }

li a {
  text-decoration: none;
  color: black;
  }

.responsive {
  width: 100%;
  max-width: 50rem;
  height: auto;
  margin-top: 1rem;
  }

table {
  border-collapse: collapse;
  margin-top: 1rem;
  min-width: 20rem;
  }

th,
td {
  border: 1px solid grey;
  padding: 10px;
  }

section {
  width: 80vw;
  height: 90vh;
  margin: 0 auto;
  padding: 1rem;
  }

section h1 {
  margin-top: 0;
  }

.login-form-wrapper {
  padding-top: 2rem;
  }

.login-form {
  max-width: 20rem;
  background-color: rgb(220, 99, 58);
  padding: 10px;
  border-radius: 4px;
  margin: 0 auto;
  }

.actions {
  display: flex;
  justify-content: flex-end;
  }

.student-profile {
  display: flex;
  margin: a auto;
  }

.student-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  }
.student-picture img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid black;
  }

.student-picture,
.student-info {
  width: 50%;
  padding: 0 5px;
  border: 1px solid grey;
  }

.center {
  text-align: center;
  }

.col-1 {
  width: 10px;
  }

.new-student-form {
  min-width: 80%;
  }

.form-control {
  max-width: 20rem;
  padding: 1rem;
  }

input {
  width: 100%;
  height: 2rem;
  margin: 10px 0;
  background-color: antiquewhite;
  border: none;
  border-radius: 4px;
  padding: 0.2rem;
  }

textarea {
  width: 100%;
  margin: 10px 0;
  background-color: antiquewhite;
  border: none;
  border-radius: 4px;
  padding: 0.2rem;
  }

button {
  padding: 0.2rem 0.5rem;
  }

.flex-container {
  display: flex;
  }

@media screen and (max-width: 600px) {
  table {
    width: 100%;
    }

  .flex-container {
    flex-direction: column;
    }

  section {
    width: 100vw;
    }
  }

